.card-container{
  position: relative;
  width: 298px;
  height: 460px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-header{
  width: auto;
  height: 150px;
  background-color:rgb(54, 212, 173);
  border-radius: 10px 10px 0 0;
}

.user-avatar{
  color: #e3e3e3;
  position: absolute;
  width: 110px;
  height: 110px;
  align-items: center;
  background-color: #f1f2f2;
  border-radius: 50%;
  top: 90px;
  left: 86px;
  border: 5px solid white;
}

.card-body{
  height: 120px;
  margin-top: 80px;
  padding: 0 27px;
  text-align: center;
}


.card-body h5{
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: gray;
}

.card-body p{
  font-size: 16px;
  font-family: 'Lucida Sans',
  'Lucida Sans Regular',
  'Lucida Grande',
  'Lucida Sans Unicode',
  Geneva,
  Verdana,
  sans-serif;
  text-align: center;
  color: gray;
}

.card-footer ul{
  justify-content: center;
  margin-top: 50px;
  padding: 0;
  display: flex;
  gap: 14px;
}

.card-footer li{
  list-style: none;
  display: inline;
  color: gray;
}